COMPOSE_PROJECT_NAME=operations-intelligence-module
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml
COMPOSE_ENV_FILES=envs/nginx.env,envs/mysql.env
APP_ENV_FILE=./envs/app.env
NGINX_ENV_FILE=./envs/nginx.env
MYSQL_ENV_FILE=./envs/mysql.env

MYSQL_PORT=3307
NGINX_PORT=8000
