APP_ENV=local
TZ=Asia/Dhaka

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=opspulse
DB_USERNAME=opspulse
DB_PASSWORD=opspulse

MYSQL_DATABASE=opspulse
MYSQL_USER=opspulse
MYSQL_PASSWORD=opspulse
MYSQL_ROOT_PASSWORD=root
